[bumpversion]
current_version = 0.1.9
commit = False
tag = False

[bumpversion:file:VERSION]

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:plugin.json]

[bumpversion:file:ict.yaml]

[bumpversion:file:intensityprojectionplugin.cwl]
