# VS Code
.vscode

# IntelliJ
.idea

# NPM
node_modules
package-lock.json

# Mac
.DS_Store

# python/editor specific files to ignore
dist/
build/
*.pyc
*.pyo
*.swp
*.egg-info
*.conf
__pycache__

# data folder to ignore
data