[bumpversion]
current_version = 0.5.0
commit = False
tag = False

[bumpversion:file:VERSION]

[bumpversion:file:plugin.json]

[bumpversion:file:README.md]
search = (v{current_version})
replace = (v{new_version})
