[bumpversion]
current_version = 0.3.11
commit = False
tag = False

[bumpversion:file:VERSION]

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:plugin.json]

[bumpversion:file:README.md]

[bumpversion:file:ict.yaml]

[bumpversion:file:ftllabel.cwl]
